body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-left: 10px; */
  background-color: #fef9e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: blue;
}

label {
  padding: 5px 12px 4px 0;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

input[type=text], select {
  width: 100%;
    height: 26px;
    padding: 2px 2px 0px 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px !important;
}

button {
  border: none;
  margin: 0px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #cd1111;
  width: fit-content;
}

button:hover {
  opacity: 0.8;
}

.selectPokemon, .selectType {
  margin-bottom: 10px;
}

.imgPokemon {
  width: 50%;
  display: flex;
  justify-content: center;
}

.divPokemons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 300px;
}

.container {
  margin: 0 10px;
  min-height: 83vh;
}

.selectSection {
  display: flex;
  flex-direction: column;
  width: 25%;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  font-size: 12px;
  white-space: nowrap;
}

table a {
  display: inline-block;
}

table a:first-child svg {
  color: #333;
  font-size: 14px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

table thead tr {
  background-color: #3d464d;
  color: rgb(238,238,238);
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #dee2e6;
  background-color: #ececec;
}

table tbody tr:hover {
  background-color: rgba(0, 0, 0, .1);
}

table thead td {
  border-right: 1px solid rgb(203,203,203);
  padding: 6px;
  font-weight: bold;
}

table td, table th {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

h1 {
  margin: 25px 0;
}

.dvTable {
  height: 170px;
  overflow: auto;
}

.title {
  color: rgb(32, 111, 12);
}

.title:hover {
  color: red;
}

.checkbox {
  display: block;
  position: relative;
  margin-top: 23px;
}

.btnAdd {
  width: auto;
  padding: 6.2px 10px !important;
  border: 0px;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 0 0 0 5px;
}

.btnAdd i {
  padding: 0 !important;
}

.btnRed {
  background-color: rgb(181 31 36) !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col, .col1, .col5 {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.col {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col1 {
  width: 8.33%;
}

.col5 {
  width: 41.66%;
}



.footer {
  height: 10px;
  width: 100%;
  background-color: #feca1b;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
